# Exclude data, latent, figs, anim, and models directories
data/
latent/
figs/
anim/
models/
predictions/

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo

# Exclude Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Exclude logs
*.log

# Exclude temporary files
*.tmp
*.swp
*.bak
*.~*

# Exclude environment files
.env
*.env
.ldc_venv/